*{
    margin: 0;
    padding: 0;
    font-family: raleway, open-sans;
}



.session1{
    height: 100vh;
    background-image: url('Background image.jpg');
    background-size: cover;
    background-position: center;
   
}

.logo{
    color: #fff;
    font-weight: 800;
}

nav ul{
    flex: 1;
    text-align: right;
}


nav{
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;


}



nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px; 
    font-weight: 400;
    font-family: 'poppins', sans-serif;
}

nav ul li a{
    text-decoration: none;
    color: #fff
    
}
nav ul li a:hover{
    text-decoration: none;
    color: cyan;
}


.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}




.content h1{
    font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
  width: 100%;
}
.content img{
    width: 70%;
    margin-top: 100px;
}
.content p{
   font-size: 14px;
   margin-bottom: 30px;
   line-height: 30px;
}
.content a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 7px 34px;
    font-size: 17px;
    background: transparent;
    position: relative;
    cursor: pointer;
    background-color: aqua;
    border-radius: 50px;
    
}


.content a:hover{
    color: black;
}

/*mediasceem*/

@media(max-width:375px){
    .content h1{
        font-size: 19px;
        width: 80%;
        margin: 20px auto; 
    }

    .content {
       width: 100%;

    }
    .content p {
        display: block;
        margin: 20px auto; 
       font-size: 11px;
       width: 400px;
       
     
    }
      .content img{
          width: 90%;

      }

      .content a{
        display: block;
        margin: 20px auto;
        width: 30%;
      }
      .content a:hover{
        color: black;
    }

    }




/*second section*/

#service{
    width: 100%;
    padding: 70px 0;
    background-color: #181e2a;

}

.section2{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}


    


.scon{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    color: #fff;
    align-items: center;
    justify-items: center;
    height: 300px;
    width: 300px;
    margin: auto;
}

.scon i{
   font-size: 40px;
   text-align: center;
   justify-items: center;
   color: cyan;
   

}

  
.scon h2{
   font-size: 20px;
   margin: 20px;
   text-align: center;
   
}
    


.scon p{
    font-size: 14px;
    line-height: 30px;

   
    
}

.scon:hover .row{
    bottom: 40%;
    opacity: 1;
}

@media(max-width:375px){
    .scon{
        flex-basis: 100%;

    }

}



.session3{
    width: 100%;
    padding: 70px 0;
    background-color: #181e2a;

}

.uprow{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
}

.uprow img{
    width: 500px;
    margin: 30px;
}


   

.uprow h2{
    font-size: 50px;
    color: white;
    margin: 20px;

}
.uprow p{
    font-size: 14px;
    color: white;
    margin: 20px;
    text-align: justify;
    line-height: 30px;
    width: 400px;

}
.uprow a{
    font-size: 14px;
   color: cyan;
   margin: 20px;

}


.downrow{
    display: flex;
    width: 80%;
    margin: auto;
}


.proll{
    flex: 1;
    margin: 20px;
    justify-content: space-between;
    margin-top: 30px;
}

.proll img{
    width: 40px;
    border-radius: 50%;
    margin-left: 10px;
}
 .username{
   background-color: #1b2330;
   padding: 15px;
   color: #fff;
}

.imgp{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.imgp p{
    color: #fff;
    margin: 10px;
}



@media(max-width:375px){
    .uprow{
        flex-basis: 100%;
        display: block;
        margin-bottom: 50px;
        
    }

    .uprow img{
        width: 300px;
        margin: auto;
    }

    .up{
        width: 200px;
        justify-items: center;
        align-items: center;
        
    }
    .up h2{
    font-size: 30px;
    width: 300px;
        
    }
    .up p{
    font-size: 12px;
    width: 300px;
        justify-content: center;
        margin: auto;
        margin-bottom: 10px;
    }
    .downrow{
flex-basis: 100%;
display: block;
margin-top: 30px;


    }

}

.session4{
    background-color:#0c1524 ;
    padding: 100px 0 100px;
    position: relative;
        
}

.fwrapper{
    display: flex;
    justify-content: space-between;
    margin: auto;
     width: 80%;
     align-items: center;
}

.flogo{
    color: #fff;

}
.flogo h1{
    color: #fff;
    font-size: 40px;
    margin: 20px;

}
.flogo p{
    color: #fff;
    font-size: 12px;
    width: 200px;

}

.fdetails{
    color: #fff;
}
.fdetails i{
    padding: 20px;
}

.aboutdetails{
    color: #fff;
    
}
.aboutdetails h4{
    padding: 10px;
    
}

.contactdetails{
    color: #fff;
}
.contactdetails h4{
    padding: 10px;
}

.socialicons{
    color: #fff;
    
}
.socialicons i{
   margin: 10px;
    
}

@media(max-width:375px){
    .fwrapper{
        flex-basis: 100%;
        display:block; 
        justify-content: center; 
        margin: auto; 
  
    }

    .flogo{
        
        margin-left: 10px;
    }

    .fdetails{
        margin-bottom: 80px;
    }

    .aboutdetails{
        margin-bottom: 40px;
    }

    .contactdetails{
        margin-bottom: 150px;
    }

    .socialicons{
justify-content: center;
align-content: center;
margin-top: 200px;
margin-left: 100px;
}

}
